<header>
	<nav>
		{{#link-to "login" class="button"}}
	    Login
		{{/link-to}}
		{{#link-to "register" class="button"}}
	    Register
		{{/link-to}}
		{{#link-to "reports" class="button"}}
	    Reports
		{{/link-to}}
	</nav>
</header>
<main>
	{{outlet}}
</main>